/* Navbar Styling */
.navbar {
    color: var(--bs-navbar-active-color);
    text-shadow: 0px 0px;
    background: #ffffff69;
    padding: 1rem 0;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .bs-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--bs-primary);
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .navbar-collapse {
    color: rgb(58, 157, 177);
    background: #ffffff;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-item {
    margin-left: 1rem;
  }
  
  .nav-link {
    color: #3a9db1;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #296d8a;
    text-decoration: none;
  }
  
  .nav-link.active {
    color: #ff6f61;
    font-weight: 600;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .navbar-nav {
      text-align: center;
    }
  
    .nav-item {
      margin: 0.5rem 0;
    }
  }
  