<nav class="navbar navbar-expand-md bg-body py-3" style="color: var(--bs-navbar-active-color); text-shadow: 0px 0px; background: #ffffff69;">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"></span>
            <span>MyShowOne</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="color: rgb(58,157,177); background: #ffffff;">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Admin</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Search</a></li>
            </ul>
        </div>
    </div>
</nav>

  

  <h3>No of tickets available : {{ticketCount}} </h3>

<!-- import ticket count component here -->

  <router-outlet></router-outlet> <!-- Where the routed component will be displayed -->
  

